<!-- test  
-->
<!-- end test " don't show sign in form , pure rending -->
  <!-- fot test propose login in -->  
 

 
  {{> global/base-home}}
<!-    css ->

       //ok -->
         <link href="{{{resources}}}core/js/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
         <link href="{{{resources}}}core/js/bootstrap-3.3.7/css/bootstrap-theme.min.css" rel="stylesheet"> 
         <link rel="stylesheet" href="{{{resources}}}core/js/lib/select2-3.5.4/select2-bootstrap.css" />
 
       <!-- custom css -->  
   

   
	 <div class="jumbotron">
    
    
      <div class="container">
      
      
   
       
        
    
       
        					
        <p class="error">
        	{{#graphStory.errorMsgs}}
				<ul>
					<li>{{.}}</li>
				</ul>
			{{/graphStory.errorMsgs}}
        </p>
        
        <div class="container">
         <p class="pad">Do not have registration ? <br>
         <a href="/registration" > Sign up</a> 
        

       </div>

           
           
            
            
       
      </div>
    </div>
    
    
    
       
    
  






     <script type="text/javascript" src="{{{resources}}}core/js/jquery-1.12.0.min.js"></script> 
     <script type="text/javascript" src="{{{resources}}}core/js/jquery-ui-1.12.12/jquery-ui.js"></script>
     <script type="text/javascript" src="{{{resources}}}core/js/jquery-ui-themes-1.12.1/themes/base/jquery-ui.css"></script>
     
        
     <script type="text/javascript" src="{{{resources}}}core/js/jquery-ui.min.js"></script>
     <script type="text/javascript" src="{{{resources}}}core/js/bootstrap.min.js"></script>
        
     
        <script type="text/javascript" src="{{{resources}}}core/js/jquery.form.js"></script>
        <script type="text/javascript" src="{{{resources}}}core/js/jquery.validate.js"></script>
      
    
       <script type="text/javascript" src="{{{resources}}}/core/js/jquery.form.js"></script>
        <script type="text/javascript" src="{{{resources}}}/core/js/jquery.validate.js"></script>
      
        
        
        
        
  
        <script type="text/javascript" src="{{{resources}}}core/js/graphSignUp.js"></script>
     
       
       
     
       
      
